<strong>Hello, {{ provider }}</strong>
<p>One of your appoints was cancelled, check the details below:</p>
<p>
  <strong>Customer: </strong> {{ user }} <br />
  <strong>Date/time: </strong> {{ date }} <br />
  <br />
  <small>
    You have a new timeslot available for booking!
  </small>
</p>